.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; 
  width: 100%;
  max-width: 100vw;
}

.heading {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  background: white;
  width: 480px;
  max-width: 100%;
  border-radius: 30px;
  margin-top: -100px;
}

p {
  font-size: 4rem;
  margin: 0.75rem;
}

.header {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  line-height: 0.75;
  margin-top: 2rem;
}

.nozama {
  font-family: "Rubik Spray Paint", system-ui;
  font-weight: 400;
  background: #121FCF;
  background: linear-gradient(to right, rgb(146, 209, 230) 0%, #121fcf 100%);   // These lines 
  background-clip: text;                                                            // add a color gradient
  -webkit-text-fill-color: transparent;                                             // to the Nozama text
  line-height: 0.75;
}

.browse {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.5rem;
  margin: 0.75rem;
  margin-bottom: 2rem;
}