.tab-class {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6rem;
    width: 600px;
    max-width: 100%;
}

.tab-class mat-tab-group {
    width: 100%;
}