.navbar {
    width: 100%;
    background-color: white;
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.nozama {
    font-size: 2rem;
    font-family: "Rubik Spray Paint", system-ui;
    font-weight: 400;
    background: #121FCF;
    background: linear-gradient(to right, rgb(146, 209, 230) 0%, #121fcf 100%);   // These lines 
    background-clip: text;                                                            // add a color gradient
    -webkit-text-fill-color: transparent;                                             // to the Nozama text
    line-height: 0.75;
}

.nozama:hover {
    cursor: pointer;
}

.login-btn {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.25rem;
}

.navbar-item {
    margin-left: 5rem;
    margin-right: 5rem;
}