<app-navbar></app-navbar>

<form class="login-form">
    @if (state === "Sign Up") { <!-- Only display the first and last name fields if the state is Sign Up, not Log In -->
        <div class="login-top">
            <mat-form-field class="login-left">
                <mat-label>First Name</mat-label>
                <input matInput [formControl]="firstNameFormControl" placeholder="Ex. John" [(ngModel)]="firstName" name="firstName">
                @if (firstNameFormControl.hasError('required')) {
                    <mat-error>First name is <strong>required</strong></mat-error>
                }
            </mat-form-field>

            <mat-form-field class="login-right">
                <mat-label>Last Name</mat-label>
                <input matInput [formControl]="lastNameFormControl" placeholder="Ex. Doe" [(ngModel)]="lastName" name="lastName">
                @if (lastNameFormControl.hasError('required')) {
                    <mat-error>Last name is <strong>required</strong></mat-error>
                }
            </mat-form-field>
        </div>
    }

    <mat-form-field class="login-bottom">
        <mat-label>Email</mat-label>
        <input type="email" matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher"
            placeholder="Ex. john.doe@example.com" [(ngModel)]="email" name="email">
        @if (emailFormControl.hasError('email') && !emailFormControl.hasError('required')) {
            <mat-error>Please enter a valid email address</mat-error>
        }
        @if (emailFormControl.hasError('required')) {
            <mat-error>Email is <strong>required</strong></mat-error>
        }
    </mat-form-field>

    <mat-form-field class="login-bottom">
        <mat-label>Password</mat-label>
        <input type="password" matInput [formControl]="passwordFormControl" [(ngModel)]="password" name="password"> 
        @if (passwordFormControl.hasError('required')) {
            <mat-error>Password is <strong>required</strong></mat-error>
        }
    </mat-form-field>

    @if (state === "Log In") {
        <p class="change-state">Don't have an account yet? <span (click)="changeState()">Sign Up</span></p>
    } @else {
        <p class="change-state">Already have an account? <span (click)="changeState()">Log In</span></p>
    }

    <!-- Only enable log in button if all fields are error free -->
    <button matButton="filled" class="submit" [disabled]="checkError()" (click)="handleClick()">{{state}}</button>
    <p class="login-error submit" [innerHTML]="loginError"></p>
</form>
