.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8rem;
    margin-left: auto;
    margin-right: auto;
    gap: 10px;
}

.login-left {
    padding-right: 10px;
}

.login-right {
    padding-left: 10px
}

.login-bottom {
    width: 444px;
}

.change-state {
    margin-top: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.3rem;
}

span {
    color: #121fcf;
    text-decoration: underline;
}

span:hover {
    cursor: pointer;
}

.submit {
    font-size: 1.5rem;
    margin-top: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.login-error {
    color: red;
}